.dayDetailsByHour{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .oneDayDetails-container{
        background-color: $principalColor;
        box-shadow: $boxShadow;
        width: 20%;
        border-radius: $borderRadiusVal;
        .oneDayDetails{
            color: white;
            display: flex;
            align-items: center;
            border-bottom: 1px solid white;
            h3{
                font-weight: bold;
            }
        }
        .oneDayDetails:last-child{
            border: none;
        }
    }
    .charts{
        display: flex;
        flex-direction: column;
        gap: 5%;
        justify-content: center;
        align-items: center;
        height: 65vh;
        color: white;
        .css-q3wnbe-MuiResponsiveChart-container  {
            background-color: $principalColor;
            border-radius: $borderRadiusVal;
            box-shadow: $boxShadow;
            line{
                stroke: white
            }
            tspan{
                fill:white
            }
          }
    }
    .lastDetails{
        background-color: $principalColor;
        box-shadow: $boxShadow;
        border-radius: $borderRadiusVal;
        color: white;
        padding: 10px;
    }
    
   
}
@media only screen and (max-width: 767px) {
    .dayDetailsByHour{
        flex-direction: column;
        .oneDayDetails-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5%;
            .oneDayDetails{
                font-size: 10px;
            }
            .oneDayDetails:nth-last-child(2){
                border: none;
            }
        }
        .charts{
            height: 53vh;
            margin-top: 5%;
            .css-q3wnbe-MuiResponsiveChart-container  {
                width: 100%;
            }
        }
        .lastDetails{
            margin-top: 5%;
        }
    }
  }