.favList{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 15%;

    .favCard{
        position: relative;
        height: 200px;
        width: 10%;
        background-color: $principalColor;
        border-radius: $borderRadiusVal;
        margin-top: 5%;
        text-align: center;
        padding: 10px;
        box-shadow: $boxShadow;
        color: white;
        transition: .5s;
        &:hover{
            cursor: pointer;
            box-shadow: $boxShadowHover;
        }
    }
}
@media only screen and (max-width: 767px) {
    .favList{
        flex-direction: column;
        align-items: center;
        .favCard{
            width:50%;
        }
    }
  }