.fiveDays-container{
    color: white;
    height: 100%;
    width: 55%;
    margin-top: 5%;
    background-color: $principalColor;
    border-radius: $borderRadiusVal;
    box-shadow: $boxShadow;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    .oneDay-container{
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: .3s ease-in;
            padding: 5px;
            &:hover{
                border-radius: $borderRadiusVal;
                box-shadow: $boxShadowHover;
            }
            h6, h5{
                font-weight: bold;
                font-size: 15px;
                color: black;
            }
            h6:first-child{
                color: $principalDerivColor; 
            }
            h6:nth-child(3){
                color: #fd2d2d; 
            }
        }
        

    }
}

@media only screen and (max-width: 767px) {
    .fiveDays-container{
        flex-wrap: wrap;
        background-color: transparent;
        box-shadow: none;
        width: 95%;
        .oneDay-container{
            margin-bottom: 5%;
            background-color: #005891;
            box-shadow: $boxShadow;
            border-radius: $borderRadiusVal;
            padding: 4px;
        }
    }
  }