$principalDerivColor: #DCECF6;
$principalColor: #005891;
$borderRadiusVal: 10px;
$boxShadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

@mixin actionBtn {
    background-color: white;
    color: $principalColor;
    padding: 10px;
    border-radius: $borderRadiusVal;
    transition: .5s;
    border: none;
    font-size: 12px;
    &:hover{
        background-color: $principalColor;
        color: white;
        cursor: pointer;
    }
}