@import '_variables.scss';

@import '_fiveDaysStyle.scss';
@import '_todayWeatherStyle.scss';
@import '_navbarStyle.scss';
@import '_dayDetailsStyle.scss';
@import '_authLogsStyle.scss';
@import '_favListStyle.scss';
@import '_footerStyle.scss';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin:0 ;
}
body{
    margin: 2% 2% 0% 2%;
    background: linear-gradient($principalColor, #C5E8FF);
    background-repeat: no-repeat;
    
}
.container{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .map{
        width: 65%;
        height: 45vh;
        > div{
            border-radius: $borderRadiusVal;
        }
    }
}
a{
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {

    body{
        height:100%;
        
    }
    .container{
        flex-direction: column;
        margin-top: 5%;
        .map{
            width: 100%;
            order: 3;
        }
    }

  }