@import '_variables.scss';

@import '_fiveDaysStyle.scss';
@import '_todayWeatherStyle.scss';
@import '_navbarStyle.scss';
@import '_dayDetailsStyle.scss';
@import '_authLogsStyle.scss';
@import '_favListStyle.scss';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin:0 ;
}
body{
    margin: 2%;
    background: linear-gradient($principalColor, #C5E8FF);
    background-repeat: no-repeat;
    height: 100vh;
    
}
.container{
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
}
.map{
    width: 65%;
    height: 45vh;
    > div{
        border-radius: $borderRadiusVal;
    }
}

